footer{
    display: flex;
    flex-wrap: wrap;
    background-color:rgba(4, 45, 70, 0.831);
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 45%;
}

.logoNetworking{
    margin: 4vh;
}

.textCopyright{
    color: azure;
}
