footer{
    display: flex;
    flex-wrap: wrap;
    background-color:#113b3f;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    gap: 45%;
}

.logoNetworking{
    margin: 4vh;
}

.textCopyright{
    color: azure;
}
