header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:rgba(4, 45, 70, 0.831);
    gap: 10vh;
    padding: 1rem;
}

header img{
    width: 10rem;
}

header h1{
    font-family: "Delius";
    font-weight: 600;
    font-size: 80px;
    color: rgba(247,180,167,255);
}
