header{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color:#113b3f;
    gap: 5vh;
    padding: 0,3rem;
}

header img{
    width: 10rem;
}

header h1{
    font-family: "Delius";
    font-weight: 600;
    font-size: 80px;
    color: rgba(247,180,167,255);
}
