body{
    margin: 0%;
    display: flex;
    flex-wrap: wrap;
}
main{
    justify-content: space-around;
    gap: 2vh;
    padding: 5rem;
    background-color: rgb(222, 226, 226);
}

.tableJob{
    font-family:sans-serif;
    margin: 20px auto;
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 2px 5px rgba(2, 2, 2, 0.16);
}

thead {
    background-color: #154f55;
    font-size: 18px;
    color: aliceblue;
}

th, td{
    padding: 15px 10px;
    margin: 6%;
    border: 0.5px solid rgba(33, 33, 33, 0.075);
}

tbody tr:nth-child(odd) {
    background-color: rgb(220, 223, 225);
}

tbody tr:nth-child(even) {
    background-color: rgb(207, 210, 212); 
}

tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.btn{
    font-size: 16px;
    background-color:rgb(219, 201, 169);
}

.status-green {
    color: rgb(37, 183, 56);
    font-weight: bold;
}

.status-red {
    color: rgb(229, 25, 25);
    font-weight: bold;
}