.offerShow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.btnSecondary{
    font-size: 20px;
    color: rgb(44, 44, 195);
    background-color:rgb(129, 171, 222);
    border-color: blue;  
}

P, h3, h4, h5{
    font-family: sans-serif;
    margin-left: 4%;
}

h3{
    font-size: 20px;
}

h5{
    font-size: large;
}

.tableFollow{
    font-family:sans-serif;
    margin: 20px auto;
    width: 95%;
    border-collapse: collapse;
    box-shadow: 0 3px 6px rgba(2, 2, 2, 0.18);
}

hr{
    height: 1px;
    background-color: rgb(35, 137, 137);
    margin: 3%;
}